# Security Settings
# The secret key must be kept secret. Do not share it!
SECRET_KEY=your_secret_key_here

# Debug should be set to False in production!
DEBUG=True

# Allow specific hosts in production. Example: localhost,127.0.0.1,yourdomain.com
ALLOWED_HOSTS=localhost,127.0.0.1
